<!DOCTYPE html>
<html>
  <head>
    <title>Netivot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://use.fontawesome.com/92d99cf3de.js"></script>
  </head>

  <body>

    <!-- Header -->
      <header id="header">
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>
      </header>

    <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#board">Our Board</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#network">Netivot Network</a></li>
          <li><a href="#resources">Resources</a></li>
        </ul>
        <ul class="actions vertical">
          <li><a href="#" class="button fit">Log In</a></li>
        </ul>
      </nav>

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Intro -->
          <section id="intro" class="wrapper featured style1">
            <div class="inner">
              <span class="image"><%= image_tag "netivot.svg" %></span>
              <div class="content">
                <header>
                  <h1>Netivot</h1>
                  <p>an international LGBTQ<br />
                  traditional Jewish community</p>
                </header>
                <footer>
                  <ul class="actions">
                    <li><a href="#about" class="button big">Get Started</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </section>

        <!-- One -->
          <section id="about" class="wrapper style2 special">
            <div class="inner">
              <header>
                <h2>About</h2>
                <p>We are Netivot</p>
              </header>
              <!-- <ul class="icons major style2">
                <li><span class="icon fa-code"><span class="label">Lorem</span></span></li><li>
                <span class="icon fa-cog"><span class="label">Ipsum</span></span></li><li>
                <span class="icon fa-diamond"><span class="label">Dolor</span></span></li><li>
                <span class="icon fa-camera-retro"><span class="label">Feugiat</span></span></li><li>
                <span class="icon fa-briefcase"><span class="label">Tempus</span></span></li> -->
              <!-- </ul> -->
              <p>We are Netivot, a group of LGBTQ Jews in the Boston, New York, and Tel Aviv areas who are engaged in traditional Judaism. Some of us come from Orthodox or traditional backgrounds, others are currently exploring a traditional Jewish identity. Our mission is to create a space to explore the intersection between our LGBTQ and traditional Jewish identities, and to move the traditional community towards greater understanding and acceptance of LGBTQ Jews.<br /><br />
              The literal translation of Netivot is “paths”. Netivot was created because of a need to create another path for LGBTQ Jews who have connections to traditional Judaism. Netivot serves as a warm, welcoming community for LGBTQ Jews interested in growing and learning in a traditionally minded environment. We are also committed to moving the traditional community to greater understanding and acceptance of LGBTQ Jews.<br /><br />
              Over the past 2+ years, Netivot has burgeoned into a thriving community in Boston, with over 70 members, monthly Shabbat dinners, and social events. Netivot has excelled in Boston, so its leadership has decided to expand and create new chapters in New York City and Tel Aviv. Over the next 2 years, we plan to grow Netivot in all 3 cities, while still maintaining its tight-knit community feel.</p>
              <footer>
                <ul class="actions">
                  <li><a href="#board" class="button">Our Board</a></li>
                </ul>
              </footer>
            </div>
          </section>

        <!-- Two -->
          <section id="board" class="wrapper style1 special">
            <div class="inner">
              <header>
                <h2>The Netivot Board</h2>
                <!-- <p>Rutrum facilisis. Class aptent taciti sociosqu<br />
                litora torquent et conubia etiam nostra.</p> -->
              </header>
              <section class="spotlight">
                <span class="image"><%= image_tag "morris.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Morris Alper</h3>
                    <p>Co-Founder; Tel Aviv President; <br />International Public Relations Coordinator</p>
                  </header>
                  <p>Hailing from Palo Alto, California, Morris recently graduated from MIT with a BS in math and linguistics. He then moved to Israel to start Netivot Tel Aviv. Morris has been an active participant and organizer for various Jewish and LGBTQ groups on- and off-campus. One of the founding members of Netivot, Morris feels passionately about opening up the traditional Jewish community to LGBTQ+ people. He has been interning at a startup developing automated speech recognition technologies, and in his spare time he enjoys cooking and practicing his Japanese.</p>
                  <footer>
                    <!-- <ul class="actions">
                      <li><a href="#" class="button">Details</a></li>
                    </ul> -->
                  </footer>
                </div>
              </section>
              <section class="spotlight">
                <span class="image"><%= image_tag "avi.png" %></span>
                <div class="content">
                  <header>
                    <h3>Avi Fuld</h3>
                    <p>Co-Founder; New York Chair;<br />
                    International President</p>
                  </header>
                  <p>Avi was born and raised in Brookline, Massachusetts. He attended Brandeis University where he studied Business and Psychology. During college, Avi was active in the campus Hillel and Chabad, where he loved planning social and educational events. Since college, Avi has been working in IT Consulting at mid-sized firm in downtown Boston, and has has helped co-found Netivot. In his spare time, Avi loves to explore new nooks of Boston, host dinner parties, and run along the Charles River.</p>
                  <footer>
                    <!-- <ul class="actions">
                      <li><a href="#" class="button">Details</a></li>
                    </ul> -->
                  </footer>
                </div>
              </section>
              <section class="spotlight">
                <span class="image"><%= image_tag "zahava.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Zahava Stern</h3>
                    <p>Co-Founder; Boston Chair;
                    International Vice President</p>
                  </header>
                  <p>Zahava is a founding member of Netivot. She moved to Boston in 2012 when she started law school and has been an active member of the Jewish LGBTQ+ community in Boston since then. Zahava grew up in Teaneck, NJ. She attended Moriah for elementary and middle school, Frisch for high school, spent a gap year in in Israel at Ein Hanatziv, and went to college at UMass Amherst. Her favorite thing about Netivot dinners is that it creates a safe space for young LGBTQ+ Jews to relax and be themselves.</p>
                  <footer>
                    <!-- <ul class="actions">
                      <li><a href="#" class="button">Details</a></li>
                    </ul> -->
                  </footer>
                </div>
              </section>
              <section class="spotlight">
                <span class="image"><%= image_tag "bess.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Bess Beller-Levesque</h3>
                    <p>International Treasurer and Secretary</p>
                  </header>
                  <p>Bess was born and raised in Maine, and is a graduate of Smith College, where she studied Sociology. After college, she participated in the Adamah Jewish farming fellowship. In her free time, she volunteers with Jewish Big Brothers Big Sisters, sings in the Somerville Community Chorus, and ponders how to stop climate change.</p>
                  <footer>
                    <!-- <ul class="actions">
                      <li><a href="#" class="button">Details</a></li>
                    </ul> -->
                  </footer>
                </div>
              </section>
              <!-- <section class="spotlight">
                <span class="image"><%= image_tag "sara.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Sara Fried</h3>
                    <p>Boston Education Chair</p>
                  </header>
                  <p>Sara grew up in Brookline, MA. She attended Solomon Schechter in Newton and graduated from Gann Academy in 2011, where she served as president of its GSA for two years. She then got a bachelors degree in Near Eastern and Judaic Studies from Brandeis University. While at Brandeis, she was a gabbai for the traditional egalitarian minyan, president of Shalem, the Brandeis organization for queer Jews, and co-chaired a conference on pluralism and the future of American Jewry. She is currently working on her Masters in Teaching in the Brandeis DeLeT program, and is working at the Jewish Community Day School and Gann Academy.</p>
                  <footer>
                  </footer>
                </div>
              </section> -->
              <!-- <section class="spotlight">
                <span class="image"><%= image_tag "shira.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Shira Frager</h3>
                    <p>Boston Secretary</p>
                  </header>
                  <p>As a new addition to the community, Shira is looking forward bringing her experiences and skills to Netivot.</p>
                  <footer>
                  </footer>
                </div>
              </section> -->
              <section class="spotlight">
                <span class="image"><%= image_tag "andy.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Andy Rosenbaum</h3>
                    <p>Boston Shabbat Coordinator</p>
                  </header>
                  <p>As a new Netivot member, Andy is excited to dive into the heart of the Netivot experience - Shabbat dinners - and make them the best they can be.</p>
                  <footer>
                    <!-- <ul class="actions">
                      <li><a href="#" class="button">Details</a></li>
                    </ul> -->
                  </footer>
                </div>
              </section>
              <section class="spotlight">
                <span class="image"><%= image_tag "sarah.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Sarah Pasternak</h3>
                    <p>Boston Board Member</p>
                  </header>
                  <p>Sarah hails from NJ. She graduated from Dartmouth College. After six years in New Hampshire, Sarah is excited by the size and diversity of the Boston Jewish LGBT+ community and doesn't expect that excitement to fade for a little while yet.</p>
                  <footer>
                  </footer>
                </div>
              </section>
              <section class="spotlight">
                <span class="image"><%= image_tag "nissa.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Nissa Mai</h3>
                    <p>Boston Webmaster</p>
                  </header>
                  <p>Nissa grew up in the Atlanta 'burbs then majored in Sociology at the University of Chicago. She's loves having the opportunity to create spaces where people can explore what being queer-traditional-Jewish means for them! She also likes software development, ethnographic research, and chicken fried rice. </p>
                  <footer>
                  </footer>
                </div>
              </section>
              <!-- <section class="spotlight">
                <span class="image"><%= image_tag "kristin.jpg" %></span>
                <div class="content">
                  <header>
                    <h3>Kristin Ruben</h3>
                    <p>Webmaster</p>
                  </header>
                  <p>Kristin is a graduate of Wellesley College, where she studied rocks and prepped for her career in politics. She later switched gears and turned to software development - and now puts her new skills to good use with the Netivot website.</p>
                  <footer>
                  </footer>
                </div>
              </section> -->
              <footer>
                <!-- <ul class="actions">
                  <li><a href="#" class="button">Details</a></li>
                </ul> -->
              </footer>
            </div>
          </section>

        <!-- Three -->
          <section id="events" class="wrapper style2 special">
            <div class="inner">
              <header>
                <h2>Events</h2>
                <p>Events are in Boston, New York, and Tel Aviv. If you don't see one<br />
                upcoming in your area, please check back soon!<br /></p>
              </header>
              <section class="spotlight">
                <!-- <span class="image"><%= image_tag "zahava.jpg" %></span> -->
                <div class="content">
                  <header>
                    <h3>Somerville Shabbat Dinner</h3>
                    <p>Boston area</p>
                  </header>
                  <p><strong>Friday, January 27, 2017</strong><br />
                  <%= link_to "Click here", "#" %> to RSVP!</p>
                  <footer>
                    <!-- <ul class="actions">
                      <li><a href="#" class="button">Details</a></li>
                    </ul> -->
                  </footer>
                </div>
              </section>
              <footer>
                <!-- <ul class="actions">
                  <li><a href="#" class="button big">Get Started</a></li>
                </ul> -->
              </footer>
            </div>
          </section>

        <!-- Four -->
          <section id="network" class="wrapper style3 special">
            <div class="inner">
              <header>
                <h2>Netivot Network</h2>
                <p>We’re excited to announce the launch of our new program, the Netivot Network!<br />
                Netivot Network connects you to other Netivot members to foster one-on-one connections<br />
                outside of our monthly events. Whether you’re looking for a chavruta, someone to talk to<br />
                about queer/Jewish things, or just a new friend to get coffee with, we can pair you up<br />
                with another Netivot member with similar goals. You can meet over email, Skype, or in person.<br />
                To sign up, please fill out the form here:<br /></p>
              </header>
              <footer>
                <ul class="actions">
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfFZ7s8W7T9KmQ4yNepaDdajHFh7dtlR0QDtKVujC6IEU8NIQ/viewform" target="blank" class="button big">Netivot Network</a></li>
                </ul>
              </footer>
            </div>
          </section>


        <!-- Five -->
          <section id="resources" class="wrapper style1 special">
            <div class="inner">
              <header>
                <h2>Resources</h2>
                <p><%= link_to "Keshet", "http://www.keshetonline.org/" %> - Jewish LGBT organization in Boston and San Francisco<br />
                <%= link_to "JQY", "http://www.jqyouth.org/" %> - Orthodox LGBT Youth organization based in New York<br />
                <%= link_to "Eshel", "http://www.eshelonline.org/" %> - National Orthodox LGBT organization<br />
                <%= link_to "Yeshiva Inclusion Project (YIP)", "https://yeshivainclusionproject.org/" %> - resource for LGBT Orthodox students applying to Israel gap year programs<br />
                <%= link_to "Or Chayim", "https://orchayim.org/" %> - minyan for unaffiliated, traditional and Orthodox LGBTQ Jews located in New York City’s Upper West Side<br /></p>
              </header>
              <footer>
                <!-- <ul class="actions">
                  <li><a href="#" class="button big">Get Started</a></li>
                </ul> -->
              </footer>
            </div>
          </section>

        <!-- Footer -->
          <section id="footer" class="wrapper split style2">
            <div class="inner">
              <section>
                <header>
                  <h3>Social media</h3>
                </header>
                <p>Connect with us or shoot us an email confidentially at <a href="mailto:netivotboston@gmail.com">netivotboston@gmail.com</a>.</p>
                <ul class="icons">
                  <li><a href="mailto:netivotlgbtq@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
                  <li><a href="https://twitter.com/netivotlgbtq" class="icon fa-twitter" target="blank"><span class="label">Twitter</span></a></li>
                  <li><a href="https://www.instagram.com/netivot/" class="icon fa-instagram" target="blank"><span class="label">Instagram</span></a></li>
                  <li><a href="https://www.facebook.com/netivotlgbtq" class="icon fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
                </ul>
              </section>
              <section>
                <!-- <form method="post" action="mailto:kruben@gmail.com" enctype="text/plain">
                  <div class="field half first"><input type="text" name="name" id="name" placeholder="Name" /></div>
                  <div class="field half"><input type="email" name="email" id="email" placeholder="Email" /></div>
                  <div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                  <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                  </ul>
                </form> -->
              </section>
            </div>
            <div class="copyright">
              <p>&copy; Netivot. All rights reserved.</p>
            </div>
          </section>

    </div>
  </body>
</html>
